NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://user:password@localhost:5433/urlshortener
JWT_ACCESS_SECRET=your-super-secret-access-key-at-least-32-characters-long
JWT_REFRESH_SECRET=your-super-secret-refresh-key-at-least-32-characters-long
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
BASE_URL=http://localhost:3000
GUEST_LINK_EXPIRES_DAYS=30
USER_LINK_EXPIRES_DAYS=365
